.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #343a40;
  height: calc(100vh - 56px);
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #007BFF;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  padding: 1px 16px;
  height: calc(100vh - 56px);
  overflow: auto;
  width: 100%;
}

.fa-caret-down {
  float: right;
  padding: 3%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}