<!--replace everything in this file with the code below.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    ZenMEM
  </a>
  <div>
    <fileservice (complete)="import($event)"> </fileservice>
  </div>
</nav>
<div>
  <!--<canvas id="canvas" height="1000" width="1000"></canvas>-->
  <div class="container-fluid" *ngIf="faksimiles?.length > 0" style="text-align:center">
    <div class="d-flex" fxFlex="80%" fxFlexFill fxLayoutGap="5px" fxLayout="column">
      <div id="{{ 'card-div' + a.ID}}" *ngFor="let a of faksimiles;">
        <div ngDraggable >
          
            <div class="ol-boxnew" id="{{ 'card-block' + a.ID}}"></div>

          
        </div>
      </div>
    </div>
  </div>
</div>
<!--<ngx-extended-pdf-viewer [src]="src"  useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>-->
<h2><router-outlet></router-outlet> </h2>
