<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/overview" routerLinkActive="active">
    eHinman
  </a>
  <div fxLayout="row" fxLayoutGap="10px">
    <div>
      <div routerLink="/collation" class="btn btn-file btn-outline-primary"> <i class="fas fa-window-restore"></i> <span class="hidden-xs-down"> Collation </span></div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" fxFlex>
    <div>
      <div routerLink="/publishing" class="btn btn-file btn-outline-primary"> <i class="fas fa-book fa-lg"></i> <span class="hidden-xs-down"> Publishing </span></div>
    </div>
    <div>
      <div routerLink="/help" class="btn btn-file btn-outline-primary"> <i class="fas fa-question fa-lg"></i> <span class="hidden-xs-down"> Help </span></div>
    </div>
  </div>
</nav>

<h2><router-outlet></router-outlet> </h2>
